/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>

/ {
	compatible = "root";
	model = "Generic ESP32 P4";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <55>;
	};
};
